<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="../assets/images/ribs.png"class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="../assets/images/hamburger.png" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="../assets/images/salade.png" class="d-block w-100" alt="...">
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div> -->
<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore culpa sequi odit perferendis impedit totam dolores tenetur repellat, reiciendis asperiores, repudiandae, et cumque a corrupti aspernatur modi! Facere, reiciendis iusto? -->


<div class='container-fluid'>  
   <div class="row" style="padding: 20px;">  
       <div class="col-sm-12 btn btn-success">  
           Bienvenue sur CommandZ 
       </div>  
   </div>  
   <div class='col-12'>  
       <ngb-carousel>  
           <ng-template ngbSlide>  
               <img src="../assets/images/ribs.png" style="width: 100%; height: 80vh" alt="...">  
           </ng-template>  
           <ng-template ngbSlide>  
               <img src="../assets/images/hamburger.png" style="width: 100%; height: 80vh" alt="...">  
           </ng-template>  
           <ng-template ngbSlide>  
               <img src="../assets/images/salade.png" style="width: 100%; height: 80vh" alt="...">  
           </ng-template>  
       </ngb-carousel>  
   </div>  
 
</div>  